/* general style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyFont', sans-serif;
}

@font-face {
    font-family: 'MyFont';
    src: url('./fonts/Optimist\ Normal.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

button {
    background-color:#0061DA;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
}

.big-container {
    overflow: hidden;
    width: 100%;
}
  
/* navbar style */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.980);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;   
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-contents {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu {
    display: none;
    img {
        width: 26px;
    }
}

.content-links, .nav-links {
    display: flex;
    gap: 30px;
}

.content-links a, .nav-links a{
    font-size: 14px;
    color: rgb(28, 43, 51);
    /* letter-spacing: 2px; */
    text-decoration: none;
    font-weight: 400;
}

.logo img {
    width: 5rem;
}

.hero-page {
    position: relative;
    height: 100vh;
}

.video-bckg video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.bckg-text {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    gap: 30px;
}

.bckg-text h1 {
    font-size: 48px;
    width: 50%;
    font-weight: 400;
    line-height: 58px;
}

.bckg-text .hero-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

.nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    

    img {
        width: 20px;
    }
}

/* catch up style */

.catch-up {
    padding: 60px 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    text-align: center;
    /* height: 100vh; */
}
  
.catch-up-text h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(28, 43, 51);
    margin: 60px 0 40px 0;
}

.catch-up-text button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(28, 43, 51);
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 40px;
}

.catch-up-text button:hover {
    background-color: #f1f1f1;
}

.catch-up-cols {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.cols {
    width: 380px;
    background: #fff;
    border-radius: 20px;
    /* overflow: hidden; */
    transition: all 0.2s ease;
    text-align: left;
    color:  rgb(28, 43, 51);
    font-size: 16px;
    font-weight: 700;
}

.cols:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.catch-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cols h3 {
    padding: 15px;
    margin: 0;
}

.read {
    display: flex;
    align-items: center;
    padding: 0 15px 20px;
    gap: 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.read:hover p {
    text-decoration: underline; 
}

.read p {
    margin: 0;
}

.icon .icons {
    width: 14px;
}

.icon {
    border: 2px solid rgba(0, 0, 0, 0.148);
    padding: 3px 5px;
    border-radius: 50%;
}

/* device style */
.device-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.device-text h1 {
    font-size: 48px;
    line-height: 53px;
    color: rgb(28, 43, 51);
    text-align: center;
    width: 50%;
    margin: 80px auto;
    font-weight: 500;
}

.card-1 {
    width: 675px;
    height: 500px;
    border-radius: 20px;
    background: url(/images/meta\ man\ image.jpg);
    background-size: cover;
}
.card-2 {
    width: 675px;
    height: 500px;
    border-radius: 20px;
    background: url(/images/excited-woman-testing-vr-headset.jpg);
    background-size: cover;
}

.device-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.device-absolute {
    position: absolute;
    bottom: 30%;
    left: 28%;
}

.shade {
    width: 85%;
}

.virtual-R {
    width: 65%;
}

.virtual {
    bottom: 26%;
    left: 28%;
}

.device-card-content {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 15px;

    p {
        width: 75%;
        line-height: 25px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 24px;
        color: rgb(70, 90, 105);
    }

    button {
        padding: 10px 30px;
        width: max-content;
        margin: 0 auto;
        border-radius: 30px;
    }
}

.device-card-content {
    width: 50%;
    margin-top: 110px;
}

.device-card-content h1 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: rgb(28, 43, 51);
}

.device-card-content p {
  
}


/* Product section */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 120px 0;
}

.product-header h1 {
    font-size: 48px;
    line-height: 53px;
    font-weight: 500;
    color: rgb(28, 43, 51);
    width: 80%;
    margin: 0 auto;
}

.product-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    button {
        padding: 15px 35px;
        border-radius: 25px;
        border: none;
    }
}

.help-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 70px 0;

    a {
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        color: rgb(22,34,41);
    }
}

.product-video {
    width: 80%;
    overflow: hidden;
    height: 525px;
    border-radius: 40px;
    margin-top: 30px;
}

.product-video video {
    width: 100%;
    height: auto;
}


/* learn more */

.learn-text {

    h1 {
        font-size: 36px;
        color: rgba(28,43,51);
        font-weight: 500;
        line-height: 40px;
        width: 90%;
    }

    p {
        font-size: 18px;
        line-height: 27px;
        color: rgb(28, 43, 51);   
        width: 80%;


        margin: 18px 0;
    }

    button {
        padding: 14px 25px;
        border-radius: 25px;
        font-size: 18px;
    }
}

.learn {
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;

}

.learn-card {
    background-color: #F8F9FB;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 30px;
    border-radius: 20px;
}

.card-text {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        font-size: 16px;
        color: rgba(28, 43, 51, 0.748);
        font-weight: 700;
        line-height: 27px;
    }
    h1{
        font-size: 18px;
        color: rgb(28,43,51);
        font-weight: 700;
        line-height: 27px;
    }
}


.card-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 20px;
    gap: 30px;

    img {
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }
}

/* leadership */

.leader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 140px auto;
    gap: 7rem;
}

.leader-image {
    width: 580px;
    height: 580px;
    overflow: hidden;
    border-radius: 30px;

    img {
        width: 100%;
        object-fit: cover;
        transform: scaleX(-1);
    
    }
}

.leader-text {
    flex: 1;

    h1 {
        font-size: 36px;
        color: rgb(28,43,51);
        line-height: 40px;
       width: 500;
    }

    p {
        font-size: 18px;
        color: rgb(28,43,51);
        line-height: 27px;
        width: 400;
        margin: 20px auto;
    }

    button {
        padding: 15px 20px;
        border-radius: 25px;
    }
}


/* big footer */

.big-footer {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #dddddd;
    padding: 80px 0;
}

.footer-col {
    margin-bottom: 50px;

    

    .footer-head1, .footer-head2, .footer-head3{
        font-size: 14px;
        color: rgb(28, 43, 51);
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .footer-text1, .footer-text2, .footer-text3{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(70,90,105);
        margin-bottom: 30px;
    }
}


.icon-links {
    img {
        width: 6.5rem;
        margin-bottom: 50px;
    }
}

.font-svg {
    width: 30px;
}

.fut p {
    margin: 8px 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    img {
        width: 20px;

    }
}


.small-footer {
    display: block;
    margin-bottom: 120px;
    padding: 10px 80px;

    a {
        color: rgb(28, 43, 51);
    }
}

.small-footer span {
    text-decoration: none;
}






/* mobile view */
@media (max-width: 500px){

    /* navbar */
    .content-links, .nav-links, .blk{
        display: none;
    }

    .nav-bar {
        padding: 15px;
    }

    .menu {
        display: block;
    }

    .nav-contents {
        gap: 20px;
    }

    /* hero section */
    .bckg-text {
        background: rgba(0, 0, 0, 0.4);
        gap: 20px;
    }
    
    .bckg-text h1 {
        font-size: 36px;
        width: 70%;
        line-height: 43px;
    }
    
    .bckg-text .hero-btn {
        padding: 10px 25px;
        border: none;
        border-radius: 20px;
        font-size: 18px;
    }

    /* catch section */

    .catch-up-text h1 {
        font-size: 32px;
        margin-bottom: 15px;
        width: 60%;
        margin: 0 auto 30px auto;
    }
    
    .catch-up-text button {
        padding: 12px 25px;
        color: rgb(28, 43, 51);
    }

    .catch-up-cols{
        overflow-x: scroll;
        width: 100%;
        justify-content: space-between;
        

    }
    .cols {
        width: 100%;
        background: #fff;
        border-radius: 20px;
        /* border:2px solid green; */
        /* overflow: hidden; */
        transition: all 0.2s ease;
        text-align: left;
        color:  rgb(28, 43, 51);
        font-size: 16px;
        font-weight: 700;
    }

    .cols:hover{
        transform: none;
        box-shadow: none;
    }

    .catch-image{
        width: 300px;
    }
    
    /* device section */

    .device-text h1 {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
        margin: 80px auto;
    }

    .card-1 {
        width: 435px;
        height: 350px;
        border-radius: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .card-2 {
        width: 435px;
        height: 350px;
        border-radius: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .device-absolute {
        bottom: 40%;
        left: 15%;
    }
    
    .shade {
        width: 60%;
    }
    
    .virtual-R {
        width: 50%;
    }
    
    .virtual {
        bottom: 39%;
        left: 10%;
    }

    .device-card-content {
        margin-top: 90px;
        gap: 15px;
    
        p {
            width: 90%;
            line-height: 25px;
            margin: 0 auto;
        }
    
        button {
            padding: 10px 30px;
            width: max-content;
            margin: 0 auto;
            border-radius: 30px;
        }
    }

    .device-card-content {
        width: 100%;
        margin: 80px auto;
    }
    
    .device-card-content h1 {
        font-size: 24px;
        line-height: 29px;
    }

    
}

/* mobile view */